@use 'styles/variables/placeholder' as *;

.icon {
  display: inline-block;
  height: var(--icon-size);
  width: var(--icon-size);
}

.loader {
  border-radius: 50%;

  @include placeholder;
}

.cardContainer {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: #fff;
    width: 80%;
    max-width: 350px;
    height: 400px;
    flex-direction: column;
    border-radius: 25px;
    padding: 16px;
    border: 1px solid #E5E5E5;
    color: #040404;
}

.externalContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    height: 100%;
}

.imageStyling {
    width: 100%;
    height: 200px;
    position: absolute;
    border-radius: 25px;
    border: 1px solid #E5E5E5;
    z-index: 1;
    transform: rotateY(180deg);
    width: 0;
}

.iconSpeaker {
    position: absolute;
    top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 30px;
    z-index: 10;
    cursor: pointer;
    padding: 4px;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
}

.turnContainer{

    padding: 24px;

    span{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 12px;
        font-size: 26px;
        font-weight: 700;
        cursor: pointer;
    }

}

.buttonContainer {
    margin-top: 32px;

    button{
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #FE8054;
        padding: 12px 18px;
        border-radius: 25px;
        font-size: 16px;
        font-weight: 700;
        color: #fff;
        cursor: pointer;
        border: none;

    }
}

.cardBack {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    width: 0%;
    height: 200px;
    border-radius: 25px;
    flex-direction: column;
    position: absolute;
    z-index: 1;
    border-radius: 25px;
    transform-style: preserve-3d;
    border: 1px solid #E5E5E5;
    transform: rotateY(-180deg);
}

.cardBackPhrase{

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    opacity: 0;
    width: 100%;
    height: 100%;


    span{
        font-size: 18px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-weight: 400;
        margin: 10px;
        width: 70%;
    }

}
.divCard {
    position: relative;
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.imageStyling.flipCard {
    transform: rotateY(0deg);
    z-index: 10;
    width: 100%;
    transition: all 0.5s ease-in-out;
}

.cardBack.flipCard {
    transform: rotateY(0deg);
    display: block;
    position: absolute;
    z-index: 10;
    width: 100%;
    transition: all 0.5s ease-in-out;

    .cardBackPhrase {
        transition-delay: 0.5s;
        opacity: 1;
    }

}



