.externalComponent {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 16px;
    height: 100%;
}

.internalContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
    width: 60%;
    position: relative;
    padding: 24px;
    max-width: 400px;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0px 0px 5px 0px #00000040;

    h1 {
        font-size: 20px;
    }

    input {
        margin-top: 4px;
        border: 1px solid  #FF977266; 
        border-radius: 4px;
        display: block;
        height: 35px;
        width: 200px;
        font-size: 12px;
        text-align: left;
        padding: 0 0 0 35px;

        ::placeholder{
            color: #FF9772;
        }

        :focus{
            border-color: #FF9772;
        }

    }
}


.containerSearch{
    position: relative;
}

.iconSearch{
    position: absolute;
    top: 14px;
    left: 14px;
    height: 16px;
    width: 16px;
    z-index: 2;
    color: #616161;
    cursor: pointer;
}

.confirm {
    border-radius: 50px;
    height: 30px;
    width: 90px;
    gap: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px;
    font-size: 14px;
    background-color: #012495;
    color: #fff;
    cursor: pointer;
    z-index: 10;
    margin-top: 12px;

    &:focus {
        background-color: #011e6e;
    }
}